/* 全局样式 */
html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eef0f1;
}
a {
  width: 100%;
  height: 100%;
  display: block;
}
.el-table .first {
  /* background: rgb(243, 199, 199); */
  background: #fde7a6;
}

.el-table .second {
  background: #e0dedc;
  /* background: rgb(198, 248, 173); */
}
.el-table .third {
  /* background: rgb(255, 226, 183); */
  background: #f5c9b5;
}
.el-table .black {
  background: #F2F6FC;
}
